html{
    font-family: sans-serif;
}
body{
    background-color: lightblue !important;
   
}
div{

    background-color: lightgrey !important;
    
    padding: 12px;   
     width: 60%;
     margin: 0 auto;

}
fieldset{
    margin-bottom: 12px;
    clear: both;
    background-color: aliceblue;

}
legend{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;

}
img{
    border-radius: 50%;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;

}
header{ 

    border: 2px solid black;
    background-color: aliceblue !important;
    border-radius: 1%;
   
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}